.map h1 {
  color: var(--neutral-900);
}

.mapContainer {
  /*This fixes the logout popup bug */
  z-index: 1;        
  position: relative;
  max-width: 1200px;
  margin: 3rem auto 2rem;
  padding: 0 2rem;
  text-align: center;
  overflow: hidden; /*Round the corners */
  border-radius: 30px;
}

.mapContainer > div {
  border-radius: 30px; /* Ensure Leaflet map follows the rounded shape */
}

