* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  line-height: 1.5;
}

/* Add any other global styles here */
button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}
